.header-section{

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .logo-wrapper{
            width: 4rem;
            height: 4rem;
    
            .logo-img{
                width: 100%;
                height: 100%;
            }
        }
    
        .link-list{
            display: flex;
            gap: 2rem;
        }
    
        .social-wrapper{
            display: flex;
            gap: .5rem;

            .icon-wrapper{

                i{
                    font-size: 2rem;
                }
            }
        }
    }
}