:root{
    scroll-behavior: smooth;
}

html, body, section, div, header, footer, main, aside, nav, blockquote, p, span, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.container{
    @include mobile{
        max-width: 720px;
    }

    @include tablet{
        max-width: 900px;
    }

    @include desktop{
        max-width: 1200px;
    }
}